@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.mapple-searchbox {
  display: block;
  margin-bottom: 10px;
  z-index: 1110;
  padding: 10px;

  @include bp-sm {
    padding: 0;
    position: fixed;
    width: 300px;
    top: 10px;
    right: 10px;
  }

  &__input {
    display: block;
    padding: 3px;
    font-size: 15px;
    width: 100%;

    @include bp-sm {
      width: 292px;
    }
  }

  &__result-list {
    display: block;
    width: 100%;
    background-color: $white-transp;
    box-shadow: $box-shadow;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    z-index: 100;

    @include bp-sm {
      position: absolute;
      top: 34px;
    }

    &__item {
      cursor: pointer;
      padding: 10px;
      list-style: none;
      @include transition(background-color, $transition-duration);

      span {
        font-size: 12px;
        font-weight: bold;
      }

      &:hover {
        @include transition(background-color, $transition-duration);
        background-color: $gray-light;
      }
    }
  }

}
