@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.mapple-bivariate-map {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 90px;

  &__path {
    stroke: $gray-lighter;
    stroke-width: 1px;

    &.-hilight {
      stroke-width: 2px;
      stroke: $red;
      // stroke: $gray-lighter;
    }
  }
}
