@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.maple__map {
  &-title {
    margin: 0;
  }

  &-intro {
    margin-bottom: 0;
  }

  &-header {
    margin-top: 60px;
    background-color: $white-transp;
    box-shadow: $box-shadow;
    padding: 10px;

    @include bp-sm {
      margin-top: 0;
      width: 50%;
      position: fixed;
      top: 90px;
      left: 10px;
      z-index: 1111;
    }

    &--embed {
      margin-top: 0;
      top: 10px;
    }
  }
}

.maple-bivariate-map {
  display: block;
  width: 100%;
  position: relative;

  @include bp-sm {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  &__path {
    stroke: $gray-lighter;
    stroke-width: 1px;

    &.-hilight {
      stroke-width: 2px;
      stroke: $blue;
      // stroke: $red;
      // stroke: $gray-lighter;
    }

    &.-inactive {
      stroke: $gray-light;
    }
  }
}
