@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

.maple-legend {
  display: block;
  width: 140px;
  position: relative;
  width: 200px;
  margin: auto;

  @include bp-sm {
    margin-right: 0;
    position: fixed;
    right: 10px;
    bottom: 10px;
  }

  &__square {
    display: block;
    width: 180px;
    height: 180px;
    margin: 10px 0 20px 20px;
    position: relative;
  }

  &__label {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    display: inline-block;
    width: 180px;
    text-align: center;

    // value extent
    em {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      font-style: normal;

      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
    }


    // label 1
    &--x {
      left: 20px;
      bottom: -15px;

      @include bp-sm {
        bottom: 5px;
      }
    }

    // label 2
    &--y {
      transform: rotate(-90deg);
      bottom: 85px;
      left: -80px;

      @include bp-sm {
        bottom: 105px;
      }
    }
  }

  &__item {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 100;

    &.-hilight {
      border: 2px solid white;
      z-index: 1000;
      width: 56px;
      height: 56px;
    }

    &--X1Y1 {
      bottom: 0;
      left: 0;
    }

    &--X2Y1 {
      bottom: 0;
      left: 60px;
    }

    &--X3Y1 {
      bottom: 0;
      left: 120px;
    }

    &--X1Y2 {
      bottom: 60px;
      left: 0;
    }

    &--X2Y2 {
      bottom: 60px;
      left: 60px;
    }

    &--X3Y2 {
      bottom: 60px;
      left: 120px;
    }

    &--X1Y3 {
      bottom: 120px;
      left: 0;
    }

    &--X2Y3 {
      bottom: 120px;
      left: 60px;
    }

    &--X3Y3 {
      bottom: 120px;
      left: 120px;
    }
  }

  &__annotation {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid $gray;

    @include bp-sm {
      text-align: right;
    }
  }
}
