@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap);
@charset "UTF-8";
body {
  margin: 0;
  padding: 60px 0 0 0 !important; }

#mapple {
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  position: relative;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0; }

.mapple__map-title {
  margin: 0; }

.mapple__map-intro {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .mapple__map-header {
    width: 50%;
    position: fixed;
    top: 90px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1111;
    box-shadow: 0px 0px 2px #9c9c9c;
    padding: 10px; } }

.mapple-bivariate-map {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 90px; }
  .mapple-bivariate-map__path {
    stroke: #f5f5f5;
    stroke-width: 1px; }
    .mapple-bivariate-map__path.-hilight {
      stroke-width: 2px;
      stroke: #ff5064; }

.mapple-infobox {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1111;
  box-shadow: 0px 0px 2px #9c9c9c; }
  .mapple-infobox--visible {
    display: block; }
  @media (max-width: 767px) {
    .mapple-infobox {
      left: 10px; } }
  @media (min-width: 768px) {
    .mapple-infobox {
      position: fixed;
      top: 90px;
      width: 300px; } }
  .mapple-infobox__section {
    padding: 15px;
    display: block;
    border-top: dashed 1px #dadada; }
    .mapple-infobox__section:after {
      display: block;
      content: '';
      clear: both; }
    .mapple-infobox__section-title {
      margin: 0;
      text-transform: uppercase;
      font-size: 16px; }
    .mapple-infobox__section dl {
      display: block;
      padding-right: 10px;
      margin-bottom: 0;
      float: left; }
      @media (min-width: 768px) {
        .mapple-infobox__section dl {
          padding-right: 20px; } }
    .mapple-infobox__section dt {
      font-size: 20px;
      line-height: 1em;
      font-weight: bold; }
      .mapple-infobox__section dt.-small {
        font-size: 12px;
        padding-top: 0px;
        color: #555555; }
    .mapple-infobox__section dd {
      margin: 0;
      font-weight: normal;
      line-height: 1.2em; }
    .mapple-infobox__section--head {
      background-color: #f5f5f5; }
  .mapple-infobox__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .mapple-infobox__close-btn:before {
      content: '×'; }
    .mapple-infobox__close-btn::-moz-focus-inner {
      border: 0;
      padding: 0; }

.mapple-searchbox {
  position: fixed;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  z-index: 1110; }
  @media (min-width: 768px) {
    .mapple-searchbox {
      position: fixed;
      width: 300px;
      top: 10px;
      right: 10px; } }
  .mapple-searchbox__input {
    display: block;
    width: 292px;
    padding: 3px;
    font-size: 15px; }
  .mapple-searchbox__result-list {
    position: absolute;
    top: 34px;
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 2px #9c9c9c;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    z-index: 100; }
    .mapple-searchbox__result-list__item {
      cursor: pointer;
      padding: 10px;
      list-style: none;
      -moz-transition: background-color, 0.3s;
      -o-transition: background-color, 0.3s;
      -webkit-transition: background-color, 0.3s;
      transition: background-color, 0.3s; }
      .mapple-searchbox__result-list__item span {
        font-size: 12px;
        font-weight: bold; }
      .mapple-searchbox__result-list__item:hover {
        -moz-transition: background-color, 0.3s;
        -o-transition: background-color, 0.3s;
        -webkit-transition: background-color, 0.3s;
        transition: background-color, 0.3s;
        background-color: #dadada; }

.mapple-legend {
  display: block;
  width: 100%;
  position: relative; }
  @media (min-width: 768px) {
    .mapple-legend {
      position: fixed;
      left: 10px;
      bottom: 10px;
      width: 140px; } }
  .mapple-legend__square {
    display: block;
    width: 90px;
    height: 90px;
    margin: 10px 0 20px 20px;
    position: relative; }
  .mapple-legend__label {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    display: inline-block;
    width: 90px;
    text-align: center; }
    .mapple-legend__label em {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      font-style: normal; }
      .mapple-legend__label em:first-child {
        left: 0; }
      .mapple-legend__label em:last-child {
        right: 0; }
    .mapple-legend__label--x {
      bottom: 5px;
      left: 20px; }
    .mapple-legend__label--y {
      transform: rotate(-90deg);
      bottom: 60px;
      left: -35px; }
  .mapple-legend__item {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute; }
    .mapple-legend__item--X1Y1 {
      bottom: 0;
      left: 0; }
    .mapple-legend__item--X2Y1 {
      bottom: 0;
      left: 30px; }
    .mapple-legend__item--X3Y1 {
      bottom: 0;
      left: 60px; }
    .mapple-legend__item--X1Y2 {
      bottom: 30px;
      left: 0; }
    .mapple-legend__item--X2Y2 {
      bottom: 30px;
      left: 30px; }
    .mapple-legend__item--X3Y2 {
      bottom: 30px;
      left: 60px; }
    .mapple-legend__item--X1Y3 {
      bottom: 60px;
      left: 0; }
    .mapple-legend__item--X2Y3 {
      bottom: 60px;
      left: 30px; }
    .mapple-legend__item--X3Y3 {
      bottom: 60px;
      left: 60px; }
  .mapple-legend__annotation {
    font-weight: bold;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #9c9c9c; }

.mapple-header {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 0px 2px #9c9c9c; }
  .mapple-header__logo {
    display: inline-block;
    background-image: url(https://correctiv.org/wp-content/themes/correctiv.org/img/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    margin: 5px 0 5px 5px; }
  .mapple-header__help-link {
    display: inline-block;
    line-height: 60px;
    width: auto;
    text-align: center;
    left: 50%;
    position: absolute;
    color: black; }

#mapple .mapple-docs .container {
  width: 80%;
  max-width: 986px; }


/*# sourceMappingURL=main.css.map*/