@import './vars.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

html, body {
  background-color: $gray-lighter;
  margin: 0;
  // padding: 60px 0 0 0 !important;
}

#mapple {
  font-family: $font-sans;
  display: block;
  position: relative;
  background-color: $gray-lighter;
  margin: 0;
  padding: 0;

  .mapple-error {
    display: absolute;
    width: 300px;
    margin: 0 auto;
    box-shadow: $box-shadow;
    background-color: white;
    padding: 50px;
    margin-top: 10%;
    color: $red;
  }
}
